if TARGET_S339AM_RK3399

config SYS_BOARD
	default "s339am_rk3399"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "s339am_rk3399"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
