if TARGET_SL339AM_RK3399

config SYS_BOARD
	default "sl339am_rk3399"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "sl339am_rk3399"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
